:root{
    --main-color: #0096FF;
    --dark-text:#777777;
    --heading: #1D1D1D;
    --small-heading:#4A4A4A;

}

body{
   
font-family: 'Poppins', sans-serif;
scroll-behavior: smooth;
}
p{
    color: var(--dark-text);
}


.border,a{
    color: var(--main-color);
}

.title{
    color: var(--heading);
    font-size: 3rem;
   
    font-weight: 600;
}

.content h4{
    color: var(--small-heading);
    font-weight: 600;
}
.content h6{
    color: var(--main-color);
    font-weight: 600;
}

.btn-transparent{
    background: transparent;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    padding: 10px 20px;
    transition: .6s;
    border-radius: 2px;
    
}

.btn-transparent:hover{
  
    background: var(--main-color);
    color: #fff;
}
.btn-main{
    background:var(--main-color);
    color: #fff;
    display: inline-block;
    padding: 10px 20px;
    transition: .6s;
    border-radius: 2px;
    outline: none;
    border: none;
    
}
#about{
    background:  #F4FAFD;
}